{% extends main.html %}
{% block title %}增加VIP会员时长{% end %}
{% block container %}
<div class="row">
	<div class="col-md-8">
		<div class="panel panel-default">
			<div class="panel-heading"><h3>增加VIP会员时长</h3></div>
			<div class="panel-body">
				<form action="/Admin/addviptime/" method="post">
                        {% raw xsrf_form_html() %}
                        <div class="form-group form-group-lg">
                            <div class="input-group">
                                <div class="input-group-addon">会员账号</div>
                                <input type="text" class="form-control" name="VipUser" required="required">
                            </div>
                        </div>
                        <div class="form-group form-group-lg">
                            <div class="input-group">
                                <div class="input-group-addon">增加</div>
                                <input type="number" class="form-control" name="month" required="required">
                                <div class="input-group-addon">月</div>
                            </div>
                        </div>
                        <div class="form-group form-group-lg">
                            <button class="btn btn-danger btn-block btn-lg" type="submit" value="确认提交">确认提交</button>
                        </div>
                    </form>
			</div>
		</div>
	</div>
	{% module AdminSideBar() %}
</div>
{% end %}