{% extends main.html %}
{% block title %}{{ user }} - 用户中心{% end %}
{% block container %}
{% module HeaderArea() %}
<div class="row">
	<div class="col-md-8">
		<div class="panel panel-default">
			<div class="panel-heading" id="PanelHeader"><h3>我关注的动态<small> 第 {{ page }} 页</small></h3></div>
			<div class="panel-body panel-pading-top">
				{% if imgInfo %}
					<div class="row" id="waterfall">
						{% for img in imgInfo %}
							<div class="col-md-3 col-xs-4 col-sm-4">
								<a class="thumbnail thumbnail-pading" href="/img/{{ img['_id'] }}/" target="_blank">
									<img src="{{ staticURL }}/{{ img['_id'] }}-220.jpg">
								</a>
							</div>
						{% end %}
					</div>
				{% else %}
					<p><h1 class="big-page">您关注的还没有任何动态…… </h1></p>
				{% end %}
			</div>
			{% if pageNum > 1 %}
				<div class="panel-footer text-center">
					<nav>
						<ul class="pagination">
					    	<li><a href="/user/?page={% if page > 1 %}{{ page-1 }}{% else %}1{% end %}"><span aria-hidden="true">上一页</span><span class="sr-only">上一页</span></a></li>
					    	<li><a href="/user/?page={% if page < pageNum %}{{ page + 1}}{% else %}{{ pageNum }}{% end %}"><span aria-hidden="true">下一页</span><span class="sr-only">下一页</span></a></li>
					  	</ul>
					</nav>
					<p>当前第 <span class="text-danger">{{ page }}</span> 页，共 <span class="text-info">{{ pageNum }}</span> 页</p>
				</div>
			{% end %}
		</div>
	</div>
	<div class="col-md-4">
		<div class="panel panel-default">
			<div class="panel-heading"><h3>个人中心</h3></div>
			<div class="list-group">
				<a class="list-group-item" href="/user/{{ user }}/"><h4>我的主页</h4></a>
                <a class="list-group-item" href="/myAlbum/"><h4>我的画册</h4></a>
				<a class="list-group-item" href="javascript:;" data-toggle="modal" data-target="#addCateModal"><h4>创建画册</h4></a>
				<a class="list-group-item" href="javascript:void(0)"><h4><span class="label label-warning">VIP</span></h4>到期时间：{{ userInfo["vip"].date() }}</a>
			</div>
		</div>
		{% module GulipaJC() %}
		{% module SideBarAd() %}
	</div>
</div>
<div class="modal fade" id="addCateModal" tabindex="-4" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h3 class="modal-title" id="myModalLabel">
                    	创建画册
					</h3>
                </div>
                <div class="modal-body">
                    <form action="/addCate/" method="post" id="addLink">
                        {% raw xsrf_form_html() %}
                        <div class="form-group form-group-lg">
                        	<div class="input-group">
                                <div class="input-group-addon">画册名字</div>
                                <input type="text" class="form-control" name="name" required="required" placeholder="请尽量保持在10个字以内。">
                            </div>
                        </div>
                        <div class="form-group form-group-lg">
                            <div class="input-group">
                                <div class="input-group-addon">画册标题</div>
                                <input type="text" class="form-control" name="title" required="required" placeholder="浏览器标题(title标签)，利于SEO排名。">
                            </div>
                        </div>
                        <div class="form-group">
			                <textarea rows="3" class="form-control" name="description" placeholder="画册描述。"></textarea>
			            </div>
                        <div class="form-group form-group-lg">
                            <button class="btn btn-danger btn-block btn-lg" type="submit" value="确认提交">确认提交</button>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <a href="#" class="btn btn-default btn-block btn-lg" data-dismiss="modal" aria-label="Close">取消</a>
                </div>
            </div>
        </div>
</div>
{% end %}
{% block js %}
    <script type="text/javascript">
      $(document).ready(function(){
        $(window).on("load",function(){
          imgLocation();
        });
      });
      function imgLocation(){
        var box = $(".col-md-3");
        var boxWidth = box.eq(0).outerWidth();
        var windowWidth = $("#waterfall").outerWidth();
        num = Math.floor(windowWidth/boxWidth);
        var boxArr = [];
        box.each(function(index,value){
          var boxHeight = box.eq(index).height();
          if (index<num){
            boxArr[index] = boxHeight;
          }else{
            var minBoxHeight = Math.min.apply(null,boxArr);
            var minBoxIndex = $.inArray(minBoxHeight,boxArr);
            $(value).css({
              "position":"absolute",
              "top":minBoxHeight + $("#PanelHeader").outerHeight() + "px",
              "width":boxWidth,
              "left":box.eq(minBoxIndex).position().left +"px",
            });
            boxArr[minBoxIndex] += box.eq(index).outerHeight();
          }
        });
        $("#waterfall").css({"height":Math.max.apply(null,boxArr)})
      }
    </script>
{% end %}