{% extends main.html %}
{% block title %}发布规则{% end %}
{% block container %}
{% module HeaderArea() %}
<div class="row">
    <div class="col-md-8">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3>{{ siteName }}用户须知</h3>
            </div>
            <div class="panel-body">
                <h4>一、头像发布规则</h4>
                <p>（1）发布的头像不许含有色情、闪动的头像及有关违反国家法律法规；</p>
                <p>（2）发布的头像禁止为模糊和水印；</p>
                <p>（3）若所发的头像多为网友重复发布过多的头像，小编将会其删除；</p>
                <p>（4）头像中不能出现骂人的话或人身攻击等；</p>
                <h4>二、图片发布规则</h4>
                <p>（1）发布的图片不许含有色情、及有关违反国家法律法规；</p>
                <p>（2）发布的图片禁止为模糊和水印；</p>
                <p>（3）若所发的图片多为网友重复发布过多的图片，小编将会其删除；</p>
                <p>（4）图片中不能出现骂人的话或人身攻击等；</p>
                <p>（5）图片中商品关键词的设置一定要与图片中商品相符；</p>
                <p>（6）图片中购物车的商品链接页面一定与图中的商品一致，否则，将会被删除，严重者，将会永久封号 ；</p>
                <h4>三、图片描述</h4>
                <p>（1）发布的图片描述不许含有色情及有关违反国家法律法规等；</p>
                <p>（2）不能描述与图片无关的信息，描述应该与图片相符；</p>
                <p>（3）不能抄袭其它相关类型的图片描述，如出现，小编会将其删除；</p>
                <p>（4）描述中不能出现骂人的话、人身攻击、谣言、社会危害的言论或侮辱有关宗教信仰等，出现将会北 封号；</p>
                <h4>四、用户注册</h4>
                <p>（1）入账号名不许含有色情及有关违反国家法律法规等，出现将会被封号；</p>
                <p>（2）不能出现骂人的话、人身攻击、谣言、社会危害的言论或侮辱有关宗教信仰等，出现将会被封号；</p>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        {% module GulipaJC() %}
        {% module SideBarAd() %}
    </div>
</div>
{% end %}