{% extends main.html %}
{% block title %}搜索 - {{ keyword }} 图片 - 第{{ page }}页{% end %}
{% block container %}
{% module HeaderArea() %}
<div class="row" id="main">
	<div class="col-md-8">
		<div class="panel panel-default">
	  		<div class="panel-heading" id="PanelHeader"><h3>搜索 <span class="text-danger">{{ keyword }}</span> 图片<small> 第 {{ page }} 页</small></h3></div>
		  	<div class="panel-body panel-pading-top">
		  		<div class="row" id="waterfall">
				    {% for img in imgInfo %}
						<div class="col-md-3 col-xs-4 col-sm-4">
							<a class="thumbnail thumbnail-pading" href="/img/{{ img['_id'] }}/" target="_blank">
								<img src="{{ staticURL }}/{{ img['_id'] }}-220.jpg" alt="">
							</a>
						</div>
					 {% end %}
				  </div>
		  	</div>
        {% if pageNum > 1 %}
        <div class="panel-footer text-center">
          <nav>
            <ul class="pagination">
                <li><a href="/search/?q={{ keyword }}&page={% if page > 1 %}{{ page-1 }}{% else %}1{% end %}"><span aria-hidden="true">上一页</span><span class="sr-only">上一页</span></a></li>
                <li><a href="/search/?q={{ keyword }}&page={% if page < pageNum %}{{ page + 1}}{% else %}{{ pageNum }}{% end %}"><span aria-hidden="true">下一页</span><span class="sr-only">下一页</span></a></li>
              </ul>
          </nav>
          <p>当前第 <span class="text-danger">{{ page }}</span> 页，共 <span class="text-info">{{ pageNum }}</span> 页</p>
        </div>
      {% end %}
		</div>
	</div>
	<div class="col-md-4">
		{% module GulipaJC() %}
		{% module SideBarAd() %}
	</div>
</div>
{% end %}
{% block js %}
    <script type="text/javascript">
      $(document).ready(function(){
        $(window).on("load",function(){
          imgLocation();
        });
      });
      function imgLocation(){
        var box = $(".col-md-3");
        var boxWidth = box.eq(0).outerWidth();
        var windowWidth = $("#waterfall").outerWidth();
        num = Math.floor(windowWidth/boxWidth);
        var boxArr = [];
        box.each(function(index,value){
          var boxHeight = box.eq(index).height();
          if (index<num){
            boxArr[index] = boxHeight;
          }else{
            var minBoxHeight = Math.min.apply(null,boxArr);
            var minBoxIndex = $.inArray(minBoxHeight,boxArr);
            $(value).css({
              "position":"absolute",
              "top":minBoxHeight + $("#PanelHeader").outerHeight() + "px",
              "width":boxWidth,
              "left":box.eq(minBoxIndex).position().left +"px",
            });
            boxArr[minBoxIndex] += box.eq(index).outerHeight();
          }
        });
        $("#waterfall").css({"height":Math.max.apply(null,boxArr)})
      }
    </script>
{% end %}
